<table>
    <tr>
        <th>Event</th>
        <th>Start</th>        
        <th>End</th>
    </tr>
    <% @events.each do |i| %>
        <tr>
            <td><%= i.name %></td>
            <td><%= i.start_date %></td>
            <td><%= i.end_date %></td>
        </tr>
    <% end %>
</table>